.cardContentChild {
  position: absolute;
  top: 33px;
  left: 320px;
  border: 5px solid var(--orange-700);
  box-sizing: border-box;
  width: 170px;
  height: 80px;
}
.caption {
  align-self: stretch;
  position: relative;
  letter-spacing: 3px;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 700;
}
.ideasForYour {
  color: var(--white);
}
.mainHeadline,
.secondaryHeadline {
  position: relative;
  line-height: 110%;
  font-weight: 800;
}
.mainHeadline {
  margin: 0;
  align-self: stretch;
  font-size: var(--heading-1-m-size);
  font-family: inherit;
  color: var(--purple-400);
}
.secondaryHeadline {
  width: 708px;
  height: 124px;
  font-size: var(--heading-2-size);
  display: none;
  max-width: 100%;
}
.top {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.scelerisqueAuctorDolor,
.ultricesNibhSapien {
  margin: 0;
}
.paragraph {
  align-self: stretch;
  position: relative;
  font-size: var(--body-l-size);
  line-height: 160%;
}
.iconJamIconsOutlineL {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.buttonText {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 24px;
  font-weight: 500;
}
.textContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-mini) 0 0;
}
.iconJamIconsOutlineL1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.button {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) 0;
  font-size: var(--caption-m-size);
  color: var(--white);
}
.iconJamIconsOutlineL2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.buttonText1 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.5px;
  line-height: 24px;
  font-weight: 500;
}
.textContainer1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-base);
}
.iconJamIconsOutlineL3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.button2 {
  height: 48px;
  border-radius: var(--br-5xs);
  border: 2px solid var(--blue-600);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-3xs);
}
.iconJamIconsOutlineL4 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
  z-index: 0;
}
.buttonText2 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.5px;
  line-height: 24px;
  font-weight: 500;
}
.textContainer2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-base);
  z-index: 1;
}
.iconJamIconsOutlineL5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
  z-index: 2;
}
.text {
  position: relative;
  line-height: 140%;
}
.badge,
.button3 {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.badge {
  margin: 0 !important;
  position: absolute;
  top: 8px;
  left: 24px;
  border-radius: var(--br-xs);
  background-color: var(--default-alert);
  padding: var(--padding-12xs-5) var(--padding-8xs);
  z-index: 3;
  text-align: center;
  font-size: var(--body-xs-size);
  color: var(--white);
}
.button3 {
  height: 48px;
  border-radius: var(--br-5xs);
  padding: var(--padding-xs) var(--padding-5xs);
  box-sizing: border-box;
  position: relative;
}
.buttonsGroup,
.sectionText {
  display: flex;
  justify-content: flex-start;
}
.buttonsGroup {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
  font-size: var(--body-m-size);
  color: var(--blue-600);
}
.sectionText {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
  height: 100%;
  z-index: 1;
}
.cardContent {
  align-self: stretch;
  height: 372px;
  position: relative;
  max-width: 100%;
}
.cardContentWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-5) 0 0;
  box-sizing: border-box;
  min-width: 520px;
  max-width: 100%;
}
.shapesIcon {
  width: 375px;
  position: relative;
  max-height: 100%;
  max-width: 100%;
}
.frameParent,
.landingPage4Inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent {
  flex: 1;
  gap: var(--gap-61xl);
}
.landingPage4Inner {
  width: 1415px;
  padding: 0 var(--padding-61xl) var(--padding-61xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--caption-m-size);
  color: var(--white);
  font-family: var(--body-xs);
}
@media screen and (max-width: 1250px) {
  .landingPage4Inner {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .shapesIcon {
    flex: 1;
  }
  .frameParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .mainHeadline {
    font-size: var(--font-size-39xl);
    line-height: 63px;
  }
  .secondaryHeadline {
    font-size: var(--font-size-26xl);
    line-height: 49px;
  }
  .cardContentWrapper {
    min-width: 100%;
  }
  .frameParent {
    gap: var(--gap-21xl);
  }
}
@media screen and (max-width: 450px) {
  .caption {
    font-size: var(--body-m-size);
    line-height: 16px;
  }
  .mainHeadline {
    font-size: var(--font-size-24xl);
    line-height: 48px;
  }
  .secondaryHeadline {
    font-size: var(--font-size-15xl);
    line-height: 37px;
  }
  .buttonText {
    font-size: var(--body-m-size);
    line-height: 19px;
  }
  .sectionText {
    gap: var(--gap-base);
  }
  .frameParent {
    gap: var(--gap-xl);
  }
  .landingPage4Inner {
    padding-bottom: var(--padding-33xl);
    box-sizing: border-box;
  }
}
